{% extends 'base.jinja'%}
{%block main %}
    <header class="bg-dark mt-1 py-5 align-items-center justify-content-center row" style="height:90vh;">
        <div class="container px-4 px-lg-5">
            <div class="text-center text-white">
                <img style="height:256px;width:256px;" src="images/logo.png" alt="" srcset="">
                <p class="lead fw-normal text-white-50 mb-0">Get your favourite electronics without breaking the bank!</p>
                <a href="products.html" class="btn btn-warning mt-5 text-white">Check out our products!</a>
            </div>
        </div>
    </header>
{%endblock%}