{% extends "baseProfile.jinja"%}
{%block main %}
<h1>ERROR 404: We couldn't find the page that you were looking for!</h1>
<h2>Please navigate back to the home page or check your spelling and try again!</h2>
{%endblock%}