{% extends "baseProfile.jinja"%}
{%block main %}
<h1>We couldn't find a profile with the username {{username}}!</h1>
<h2>Please check your spelling and try again, or create a profile with the username {{username}} instead!</h2>
{%endblock%}